/* order of these files is important and should not be changed */

/* @import "icons/extension-icons.css"; */
/* @import "window-controls/wc-without-tabline-r.css"; */
@import "window-controls/without-wc-without-tabline.css";
@import "hide-tabline.css";
@import "userChrome-static.css";

:root {
  --dark-0: #23252F;
  --dark-base: #282a36;
  --dark-1: #343746;
  --dark-2: #3D4052;
  --dark-3: #4E526A;
  --dark-4: #575B75;
  --light-0: #DEDEDE;
  --light-base: #bfbfbf;
  --light-1: #B5B5B5;
  --light-2: #ABABAB;
  --light-3: #A1A1A1;
  --light-4: #969696;
  --accent: #bd93f9;
  --yellow: #f1fa8c;
  --green: #50fa7b;
  --red: #ff5555;
  --extension-icon-mask: grayscale(85%) invert(32%) sepia(12%) saturate(983%) hue-rotate(194deg) brightness(92%) contrast(88%);
    
  /* expanded width of the sidebar. 
    used for userChrome-static, and hover */
  --sidebar-width: 250px; 
  /* initial width of the sidebar. 
    advised not to change since tst css relies on this value*/
  --sidebar-collapsed-width: 60px;

  --dividers: 2px;
    
  --tl-animation-duration: 200ms;
  /*--tl-tab-background-gradient: */
  /* uncomment and add gradient value for selected tab gradient*/
  
  /******WINDOW CONTROL PLACEMENT VARS******/
  /* larger value moves window controls down,*/
  /* can be negative(moves controls up) */
  /* 55px if tabline visible, -25px if tabline hidden */
  --wc-vertical-shift: 15px;
  --wc-left-space: 10px; /* add space to the left of window controls*/
  --wc-right-space: 15px; /* add space to the right of window controls*/
  /* left-space shifts window-controls */
  /* if you want to shift them to the left: positive value */
  /* and if you want to shift them to the right: smaller or negative value */
  /* right-space shifts rest of the navbar (forward,backward,urlbar,etc.) to the right */
  /* if you want to increase/decrease space between window-controls and navbars: */
  /* set positive/negative value for right-space*/
    
}

:root[privatebrowsingmode="temporary"]{ 
  --dark-0: #1C0E34;
  --dark-base: #20103c;
  --dark-1: #2F1D4E;
  --dark-2: #38225D;
  --dark-3: #4A2D7B;
  --dark-4: #53338A;
  --light-0: #CC6B9C;
  --light-base: #B9407C;
  --light-1: #AB3B73;
  --light-2: #9C3569;
  --light-3: #8D305E;
  --light-4: #7D2B54;
  --accent: #e9207e;
  --yellow: #C9B336;
  --green: #36C987;
  --red: #C9365D;
  --extension-icon-mask: grayscale(85%) invert(21%) sepia(12%) saturate(6451%) hue-rotate(235deg) brightness(92%) contrast(96%); 
}
